// Correctly set `seng-scss` assetPath
$pathAsset: "../assets/";

// Fonts
$baseFont: Arial, sans-serif;

// Z-Index
$zLayout: default;

// Colors
$colorPrimaryTheme: #000;

$mediaQueries: (
  MEDIUM: "(min-width: 768px)",
  LARGE: "(min-width: 1025px)",
  X_LARGE: "(min-width: 1366px)",

  ONLY_SMALL: "(max-width: 767px)"
);
